<!DOCTYPE html>
<html>
<head>
    <title>Despesas Compartilhadas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Despesas Compartilhadas</h1>
    <ul>
        {% for expense in expenses %}
            <li>
                <strong>{{ expense.description }}</strong> -
                Total: R$ {{ expense.total }} -
                Parte por pessoa: R$ {{ expense.part_per_person }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('calculator') }}">Nova Despesa</a>
</body>
</html>
